[2016-10-15 15:30] salus-sage opened #1 "HTML/CSS - header dropdown for sandbox button and pills for nav active and hover states"
same for the navigation items in the footer. specs in design folder

[2016-10-15 15:33] salus-sage opened #2 "people torroid design and content should be updated with header and footers"
html/css = integrating the common header and footer from design
content = content from venkat needs to be updated in the sheet

[2016-10-15 15:33] salus-sage opened #3 "space tour required to be updated in sandbox directory"

[2016-10-15 15:33] salus-sage opened #4 "ephemera needs to be updated according to design and content"

[2016-10-15 15:34] salus-sage opened #5 "timeline content is available, need timeline widget"
need to organize client provided content according to the app's requirements

[2016-10-15 15:35] salus-sage opened #6 "oral history meta data synchronizer required"
an audio interview with time stamped content

[2016-10-17 12:34] salus-sage opened #7 "api requests for collections"
Api and view for collections and subtheme content

[2016-10-17 12:35] salus-sage opened #8 "view to read tags from dom and replace with corresponsing components"

[2016-10-17 20:07] khushpreet-kaur commented on #4
Ephemera content has been updated.  Also the design is updated with all the other header, footer view (Need to look into the images' size). Link to code: https://github.com/janastu/ncbs-ephemera

[2016-10-17 20:13] khushpreet-kaur commented on #1
Hover state for footer nav is done with the following:
1. Highlight 'ncbs-nav-footer panel-footer' div with light colored font.
2. Removed underline from footer links on hover.

[2016-10-18 16:38] tripToner opened #9 "text decoration none is not working for the navigation items in footer"

[2016-10-21 09:51] khushpreet-kaur commented on #9
Fixed.  Set `text-decoration: none` on hover of navigation items in footer.

[2016-10-24 12:53] pradyumnat opened #10 "When hovering on gallery on left/right icons, mouse turns to text cursor."

[2016-10-24 13:14] pradyumnat opened #11 "Images are not clickable to view on the full screen mode"

[2016-10-24 13:14] pradyumnat opened #12 "When hovering on gallery on left/right icons, mouse turns to text cursor."

[2016-10-24 13:14] pradyumnat opened #13 ""Institution Building" foot text and the icon panel body doesn't fit on the equal"

[2016-10-24 13:14] pradyumnat opened #14 "For the Picture slide shows, the slider arrows can appear on the images instead of on the bottom of the image."

[2016-10-24 13:14] pradyumnat opened #15 "The audio bar on the bottom vanishes when clicked on the play button. Only the scrolling captions are visible and close button"

[2016-10-24 13:14] pradyumnat opened #16 "The last four audio at the bottom of the "Space & Autonomy" open up in new tab"

[2016-10-24 13:14] pradyumnat opened #17 "Video not playing. Says video with no mimetype supported"

[2016-10-24 13:14] pradyumnat opened #18 "Add zoomable/pannable feature to gallery images - for onclick event with full screen"

[2016-10-24 13:15] pradyumnat opened #19 "test issues"

[2016-10-24 13:15] #19 closed

[2016-10-24 13:19] pradyumnat opened #20 "https://www.ncbs.res.in/ncbs25/#identity"
need more description

[2016-10-24 13:29] pradyumnat opened #21 "video not playing. Says video with no mimetype supported"

[2016-10-24 13:39] pradyumnat opened #22 "video not playing says video aborted due to network error"

[2016-10-24 15:43] salus-sage opened #23 "Image slide show is in full zoom on launch and doesn't reset. so only a part of the image is visible"
solution - image viewer needs to be refreshed on tab shown event

[2016-10-24 17:05] salus-sage opened #24 "Manual Testing -"
Require testing in different browsers and devices:

[2016-10-24 18:26] salus-sage commented on #24
cross browser testing report - suggests only latests browsers work, firefox above version 44
https://www.browsera.com/tests/112545-2016-10-24?token=4770040e-355f-c48f-d6d0-d1fc418793c7

[2016-10-25 10:35] pradyumnat opened #25 "Chromium 53.0.2785.143 Built on Ubuntu , running on Ubuntu 16.04 Chrome version is 54.0.2840.59 Firefox version - 49.0 In Chromium and chromium both ncbs25 is opening properly to the full screen width, but in firefox it is not."

[2016-10-25 10:35] pradyumnat opened #26 "last 2 images are not clickble to view in full screen - Science in india"

[2016-10-25 10:40] pradyumnat opened #27 "go to top link required on every page."

[2016-10-25 10:45] pradyumnat opened #28 "recognition - last three audio are opening in new tab."

[2016-10-25 11:46] pradyumnat opened #29 "space and autonomy - last four audio are opening in new tab"

[2016-10-26 05:33] pradyumnat opened #30 "hiring -"

[2016-10-26 05:38] pradyumnat opened #31 "hiring - Video sound very low at full volume also. - last six audio are opening in new tab"

[2016-10-26 06:23] pradyumnat opened #32 "start ups - first image is not comng properly in firefox 49.0, where as in chrome and chromium comes properly."

[2016-10-26 06:29] pradyumnat opened #33 "start ups - first image is not comng properly in firefox 49.0, where as in chrome and chromium comes properly. last 8 audios open in new tab."

[2016-10-26 08:24] vns2 opened #34 "All themes: Single Photo: Footer edit: Remove "1/1" for single photos"
![1-8_p1_footer_remove-1of1](https://cloud.githubusercontent.com/assets/4581081/19718590/9a393f0e-9b83-11e6-9e51-585801d34d06.png)

[2016-10-26 08:26] vns2 commented on #16
These should be part of Gallery, and ideally, a box for 'Gallery' opens up in a new tab. Perhaps simpler?

[2016-10-26 08:29] vns2 opened #35 "Enhancement: All themes: Audio slideshow - Single button click?"
In all themes, audio slideshow is delinked as a slideshow + audio icon. Is it possible to make it one large audio play button on top of photos to hear audio, and have left-right arrow to flip photos?

[2016-10-26 08:55] vns2 opened #36 "Chrome v53 and Firefox v47: Photos/video not loading sometimes (spotty)"
Open NCBS25 on chrome. Go to Identity theme - space for biology chapter, for example. Scroll down. Sometimes, the photos will load, if slowly. Switch chapters or themes. Come back to Identity theme - space for biology chapter. Photos and video are not loaded. Sometimes, if it is a slideshow. pressing right arrow or left arrow works to move to second image and get it loaded. But this is not possibl

[2016-10-26 10:00] pradyumnat opened #37 "collbrations - first image in firefox not coming properly."

[2016-10-26 10:21] pradyumnat opened #38 "collabeation - last four audio are opening in new tab"

[2016-10-26 10:32] pradyumnat opened #39 "collabeation - last three audio are opening in new tab first image comes after reloading the page, in firefox"

[2016-10-26 10:37] pradyumnat opened #40 "scaling - last five audio are opening in new tab"

[2016-10-26 11:21] pradyumnat opened #41 "revisit to the page - image does not load in firefox"

[2016-10-26 11:25] pradyumnat opened #42 "revisit to the page - image does not load in firefox, chromium and chrome"

[2016-10-26 11:45] pradyumnat opened #43 "mentorship - first audio has some sound and not clearly audible."

[2016-10-26 11:50] pradyumnat opened #44 "interaction - last two audio are opening in new tab"

[2016-10-26 12:00] pradyumnat opened #45 "interaction - last three audio are opening in new tab"

[2016-10-26 12:00] pradyumnat opened #46 "last image not clickable - hireachy"

[2016-10-26 16:50] salus-sage opened #47 "Gallery should be collapsible"

[2016-10-26 17:52] salus-sage opened #48 "Refactor Audioview to accept audio url and caption as input rather than data-tag"

[2016-10-26 17:53] salus-sage commented on #46
Images in the gallery are not clickable yet..

[2016-10-26 17:54] salus-sage commented on #45
Duplicate of issue #48

[2016-10-26 17:54] #45 closed

[2016-10-26 17:54] salus-sage commented on #44
Duplicate of issue #48

[2016-10-26 17:54] #44 closed

[2016-10-26 17:56] salus-sage commented on #41
duplicate of issue #42

[2016-10-26 17:56] #41 closed

[2016-10-26 17:56] salus-sage commented on #40
Duplicate of issue #48

[2016-10-26 17:56] #40 closed

[2016-10-26 18:01] salus-sage commented on #39
Audio problem is duplicate of issue #48
image problem tested in Firefox version 49.0.2 - no obvious problem, needs more description

[2016-10-26 18:01] salus-sage commented on #38
duplicaate of issue #48

[2016-10-26 18:01] #38 closed

[2016-10-26 18:02] salus-sage commented on #39
image problem referred in issue #37

[2016-10-26 18:02] #39 closed

[2016-10-26 18:02] salus-sage commented on #37
image problem tested in Firefox version 49.0.2 - no obvious problem, needs more description

[2016-10-26 18:04] salus-sage commented on #35
Have to assess if we can accommodate this request for this release. will add to next milestone if not.

[2016-10-26 18:06] salus-sage commented on #34
@khushpreet-kaur assigning this issue to you, solution is similar to what we did to remove the arrows for 1 image length.

[2016-10-26 18:07] salus-sage commented on #33
Duplicate of issue #32 and #48

[2016-10-26 18:07] #33 closed

[2016-10-26 18:11] salus-sage commented on #31
need to check the volume with the original video.  @shalinia can you please assign this issue to somebody from the content production team to check the sound in original video and the web version and see if anything can be done to resolve this issue.

[2016-10-26 18:11] salus-sage commented on #30
Incomplete description - closing this issue.

[2016-10-26 18:11] #30 closed

[2016-10-26 18:12] salus-sage commented on #29
duplicate of issue #48

[2016-10-26 18:12] #29 closed

[2016-10-26 18:12] salus-sage commented on #28
duplicate of issue #48

[2016-10-26 18:12] #28 closed

[2016-10-26 18:13] salus-sage commented on #27
Need to see if we can accommodate this enhancement in this milestone. if not will add to next milestone. was not part of design requirements. @vns2

[2016-10-26 18:15] salus-sage opened #49 "Gallery images should be clickabale for full screen view."

[2016-10-26 18:15] salus-sage commented on #26
duplicate of issue #49

[2016-10-26 18:15] #26 closed

[2016-10-26 18:16] salus-sage commented on #20
not enough description

[2016-10-26 18:16] #20 closed

[2016-10-26 18:16] salus-sage commented on #18
duplicate of issue #49

[2016-10-26 18:16] #18 closed

[2016-10-26 18:17] salus-sage commented on #15
duplicate of issue #48

[2016-10-26 18:17] #15 closed

[2016-10-26 18:18] salus-sage commented on #16
Duplicate of issue #48
@vns2 the request will be addressed in this milestone.

[2016-10-26 18:18] #16 closed

[2016-10-26 18:19] salus-sage commented on #11
Duplicate of issue #49 for gallery images. the featured images are not clickable but zoomable within the container.

[2016-10-26 18:19] #11 closed

[2016-10-26 18:20] salus-sage commented on #12
Issue fixed and pushed to server @vns2

[2016-10-26 18:20] #12 closed

[2016-10-26 18:20] salus-sage commented on #10
issue fixed and pushed to server @vns2

[2016-10-26 18:20] #10 closed

[2016-10-26 18:22] salus-sage commented on #9
issue pending in Space tour, Timeline and oral history

[2016-10-26 18:23] salus-sage commented on #8
done

[2016-10-26 18:23] #8 closed

[2016-10-26 18:23] salus-sage commented on #6
done

[2016-10-26 18:23] #6 closed

[2016-10-26 18:24] salus-sage commented on #5
done

[2016-10-26 18:24] #5 closed

[2016-10-26 18:24] salus-sage commented on #4
guess this issue can be closed now, unless anything new comes up from testing.

[2016-10-26 18:24] #4 closed

[2016-10-26 18:25] salus-sage commented on #3
done

[2016-10-26 18:25] #3 closed

[2016-10-26 18:25] salus-sage commented on #2
done

[2016-10-26 18:25] #2 closed

[2016-10-26 18:25] salus-sage commented on #7
done

[2016-10-26 18:25] #7 closed

[2016-10-26 18:28] salus-sage commented on #13
This needs a real look around from the content sme @vns2 or the designer. basically we are struggling with more words than we can accommodate. out of scope for developers to fix. needs discussion

[2016-10-26 18:30] salus-sage commented on #14
@khushpreet-kaur can you look into this? solution may include css. refer to imageviewer documentation to see if you can achive similar effect insteadof bootstrap glyphs

[2016-10-26 18:30] salus-sage commented on #17
duplicate of issue #21

[2016-10-26 18:30] #17 closed

[2016-10-26 18:31] salus-sage commented on #21
@pradyumnat can you look at the html5 video and audio tag requirements and see if we comply with the files we are using?

[2016-10-26 18:32] salus-sage commented on #22
possible duplicate of issue #21

[2016-10-26 18:33] salus-sage commented on #46
duplicate of issue #49

[2016-10-26 18:33] #46 closed

[2016-10-26 18:34] salus-sage commented on #43
need to check the volume with the original video. @shalinia can you please assign this issue to somebody from the content production team to check the sound in original video and the web version and see if anything can be done to resolve this issue.

[2016-10-26 18:43] salus-sage commented on #1
@khushpreet-kaur guess this issue can be closed.

[2016-10-26 18:46] salus-sage opened #50 "HomeView and AboutView can render on window load without waiting for the api requests to complete"
Solution - render homeview before app.init meaning instead of waiting for router to initialize you call it already. if any questions, we can discuss.

[2016-10-27 09:18] #1 closed

[2016-10-27 09:30] khushpreet-kaur commented on #9
Fixed for all.  Please review.

[2016-10-27 09:35] khushpreet-kaur commented on #34
@salus-sage  Resolved.  Please review.

[2016-10-27 09:52] vns2 commented on #13
What is this referring to? The words "Institution Building" in the big square icon at the bottom? If so, not sure where the problem is. Can you clarify? Thanks!

[2016-10-27 09:53] salus-sage opened #51 "Omeka items: tags needs to be edited for gallery taxonomy to reflect theme-subtheme only without counts"

[2016-10-27 09:58] vns2 opened #52 "Enter theme at curatorial note; add distinguishing factor for curatorial note tab from other chapter tabs;"
Just inserting the auth/curatorial note comment from Dinesh's email as an issue on git. I am fine with starting theme on curatorial note. However, we do need to distinguish the note in some way from the other chapters.

[2016-10-27 09:58] salus-sage opened #53 "Gallery might also have videos, view component needs to be upgraded to accomodate"

[2016-10-27 10:01] vns2 commented on #47
@salus-sage Is this the same as the old request to have gallery as a simple box at the bottom marked 'Gallery'. And clicking the 'Gallery' box just opens a file list with all gallery items on a new page. That's the full extent of the Gallery requirement. Thanks!

[2016-10-27 14:24] salus-sage commented on #49
commit ed2192ee402696fb4b11c2a3c53084e65338a8a1

[2016-10-27 14:25] salus-sage commented on #47
yes - the full scope of gallery requirements is addressed in issues #47 #49 #53
and we are working it to make a hidden gallery, which will show up on button click. rather than a new page.  this is how it looks so far.

before button click
![collapsed-before-button-click](https://cloud.githubusercontent.com/assets/6399323/19771450/9e044fb8-9c80-11e6-8cb3-b19e852d888a.png)

after button click
![expa

[2016-10-27 14:26] salus-sage commented on #51
issue resolved by @nikitha

[2016-10-27 14:31] salus-sage commented on #13
The word length "Institution Building" exceeds the accommodated space from the original design spec(which only has Institution). Hence there is mis-behaviour(an increase in the height of the box) in certain browsers(mostly IE 7 & 8) and/or screens(of lesser widths), to resolve we either need to re-work the word or the icons itself.

[2016-10-27 14:36] #51 closed

[2016-10-27 18:57] salus-sage commented on #48
commit e05c1ae7996d1fab6c8acffd7195755d89d31348

[2016-10-28 04:39] vns2 commented on #47
Lovely! I like your hidden gallery idea. It looks great. I don't know about colour scheme, what goes with what, etc. If you're in touch with designers, maybe they can give you an idea. But it's fine for beta release, I think.

[2016-10-28 05:07] vns2 commented on #13
Understood. Two options:
1) I have attached one option - does this work or will it create problems and increase in height as well? I moved the icons up and put the two words staggered around the midline. Dont want to overthink this.
2) Try just 'Building' instead of Institution Building. What are your thoughts? Do you think it captures the idea of 'institution building'. Not able to come up with a

[2016-10-28 05:09] vns2 commented on #27
Yes, I see your point and it will be nice if it is there. But sure, it can come after this release.

[2016-10-28 09:49] khushpreet-kaur commented on #14
@salus-sage  Issue is fixed now.  I'm using 'bootstrap glyphs' as per the design requirement.  Please check.

[2016-10-28 09:57] salus-sage opened #54 "Requires google analytics"
@pradyumnat  can you look into this

[2016-10-28 10:06] khushpreet-kaur commented on #37
@salus-sage  @pradyumnat  Tested on Firefox 49.0 / 47.0- Image is loading fine. No such issue occurred while testing.

[2016-11-02 09:52] #54 closed

[2016-11-02 10:25] pradyumnat commented on #21
Need help to identify which videos give this error with which browser.

[2016-11-02 11:09] shalinia commented on #43
The first audio has page flipping sound. I think the recorder was kept closer to the book. Otherwise there are no noise in the audio file. https://www.ncbs.res.in/ncbs25/omeka/files/original/c281a0f1fc34267fabc9433d991bfcb8.mp3

[2016-11-03 07:17] vns2 opened #55 "Internet Explorer: Password not working"
Not able to load the Omeka content on IE Win 10, 'Microsoft Edge'. It keeps asking for user and password, but does not accept the standard password (which work in Chrome or Firefox).

[2016-11-03 07:19] vns2 opened #56 "Chrome v54: Audio, pics not loading"
Omeka content does not appear to load in Chrome v54, even after waiting for a while. In some themes, it loads, but not all the time. Quite often, clicking the audio button doesn't result in starting of the audio file. (Content loads okay in Firefox v48 after waiting for ~5-6 seconds).

[2016-11-03 07:24] vns2 opened #57 "Sandbox: Ephemera: Wrong caption for image"
The 'lunchtime play' image appears to have wrong caption. Just noticed. It seems to be fine in the excel sheet supplied though.

Correct caption for attached image: "Lunch time juxtapositions: Staff and students of NCBS gather for a lunch time cricket match. Adjacent to them (not seen), a student from Axel Brockmann’s group conducts an observational study of a beehive."

![8-ephemera-wrong-caption

[2016-11-03 10:25] nikithag19 opened #58 "Chrome: Gallery in new tab-No content- For all themes"
When Gallery is opened in a new tab the content overlaps the logo showing no media files.

![image](https://cloud.githubusercontent.com/assets/16652447/19962452/ad194b4a-a1dd-11e6-978e-dd1f8b9c8d56.png)

[2016-11-03 10:33] nikithag19 opened #59 "Chrome: Themes- Identity- Reflections"
Under Reflections, no actions when clicked on Gallery.

![image](https://cloud.githubusercontent.com/assets/16652447/19962715/f12e33a8-a1de-11e6-8505-0bb46c6584ed.png)

[2016-11-07 09:26] Amrapalivishwa opened #60 "chromium"
peopleplex some of the nodes are not loading or opening, which are oprning in firefox, but in firefox audio overlaps. no overlap of audio  in chromium.

[2016-11-07 10:10] salus-sage commented on #58
the gallery is not supposed to be opened in a new tab, its a popout content box, and not another route. This issue is invalid

[2016-11-07 10:12] salus-sage commented on #60
please submit screenshot with your mouse pointer pointing to the nodes you are mentioning.

[2016-11-07 10:13] salus-sage commented on #58
reference issue #47

[2016-11-07 10:16] salus-sage commented on #52
separating the  issue from  add dummy pixel to tab to enable authorization -> which will be handled under the refactor issue

[2016-11-07 10:16] #52 closed

[2016-11-07 10:17] salus-sage opened #61 "code refactor - views to bind to the data of context and add dummy pixel to tab to enable authorization"

[2016-11-07 11:20] #34 closed

[2016-11-07 11:21] salus-sage commented on #14
increase the arrow size to 24px - and merge the change with master

[2016-11-07 11:22] salus-sage commented on #9
issue resolved

[2016-11-07 11:22] #9 closed

[2016-11-07 11:37] khushpreet-kaur commented on #14
Fixed.

[2016-11-07 11:37] #14 closed

[2016-11-07 14:38] nikithag19 opened #62 "Chrome: Peopleplex nodes not displayed"
The audio nodes doesn't appear.

![image](https://cloud.githubusercontent.com/assets/16652447/20061396/b61967ca-a525-11e6-9de6-6cf8573ffd4c.png)

[2016-11-08 06:48] khushpreet-kaur commented on #57
Caption is fixed now.

[2016-11-08 06:57] khushpreet-kaur commented on #62
@nikithag19 I tried in many different scenarios, it seems to work. Can you check your browser console for errors?

[2016-11-08 07:11] nikithag19 commented on #62
It seems to be working now. But yesterday when i tried it appeared as attached in screenshot.  When i checked on browser console, it showed few java script errors.

[2016-11-08 07:11] #62 closed

[2016-11-08 12:38] nikithag19 opened #63 "Internet Explorer: Windows security"
Doesn't take the user credentials.

![image](https://cloud.githubusercontent.com/assets/16652447/20099397/464c0b28-a5de-11e6-94a0-da0ee5ca5597.png)

[2016-11-08 15:20] tripToner opened #64 "possible memory leak and browser crash reported on chrome latest version"
need more testing and recreation - assigned to nikitha for submitting more data

[2016-11-08 16:31] salus-sage opened #65 "Audio View refactor to unbind and cleanup garbage"

[2016-11-09 09:03] salus-sage commented on #23
commit #6dbf414 resolved the issue

[2016-11-09 09:03] #23 closed

[2016-11-09 09:04] salus-sage commented on #50
resolved and pushed to server

[2016-11-09 09:04] #50 closed

[2016-11-09 09:05] salus-sage commented on #49
issue resolved

[2016-11-09 09:05] #49 closed

[2016-11-09 09:22] salus-sage commented on #47
i thought we'll finish the technical components required with basic colors and icons, and once we have a stable release, i would ask for the designers input for changes. Hope thats fine.

[2016-11-09 09:46] nikithag19 commented on #64
Below link is the screencast of memory leak in Chrome.
http://screencast.com/t/4Sdq7tuo

[2016-11-10 16:49] salus-sage commented on #53
issue resolved

[2016-11-10 16:49] #53 closed

[2016-11-10 16:50] #48 closed

[2016-11-10 16:50] #47 closed

[2016-11-10 16:51] #42 closed

[2016-11-10 16:51] #58 closed

[2016-11-10 16:53] #65 closed

[2016-11-10 16:53] salus-sage commented on #61
issue resolved

[2016-11-10 16:53] #61 closed

[2016-11-10 16:54] salus-sage opened #66 "scroll helper - scroll to top and bottom clickable icons to help with scrolling to tabs navigation and themes navigation"

[2016-11-10 16:55] salus-sage commented on #66
duplicate of issue #27

[2016-11-10 16:55] #66 closed

[2016-11-10 16:57] salus-sage commented on #59
solution: need to hide the gallery button if no content to show

[2016-11-11 07:58] salus-sage commented on #36
after this release, where chrome (recommended v54) loading has improved,
 while firefox loading still has problems.
1. Home page featured image breaks some times -  weird bug
2. Theme icons in tabs view takes time to load - probable solution to load the image in background before rendering the template. _however firefox clears the icon from cache - say for the last or the last but one theme as nav

[2016-11-11 08:04] salus-sage commented on #64
have pushed view cleanups and event unbindings to clean up memory, however looks like heavy garbage collection is resulting in the browser breaking in few machines and browsers.

[2016-11-11 08:05] salus-sage commented on #56
issue resolved, chrome loading is optimized and confirmed by testing. changes are live.

[2016-11-11 08:05] #56 closed

[2016-11-11 08:06] salus-sage commented on #63
duplicate of issue #55

[2016-11-11 08:06] #63 closed

[2016-11-11 08:52] salus-sage commented on #36
email by venkat dated 11-11-2016 12:41

However, I faced issues on Firefox. I have attached four images to illustrate what I see (noted by image filenames below).
(firefox v 49. I am not putting this as a new issue on github since it's already in progress.)

-- firefox_category-identity:
Only in firefox, I see the delay causing the first few seconds of each theme looking like this. This lasts betw

[2016-11-11 10:26] salus-sage commented on #36
Firefox image loading has lot of browser troubleshooting involved -
https://support.mozilla.org/en-US/kb/refresh-firefox-reset-add-ons-and-settings
https://support.mozilla.org/en-US/kb/fix-problems-images-not-show

many of the solutions involve changing some default settings in the browser, not sure if we can educate users about such options.

by the the the authorization (htaccess) is completed l

[2016-11-11 12:47] salus-sage commented on #36
Some stats all themes including gallery items
In chrome for Identity theme alone including gallery - 99(consistent) requests fired,
 but firefox is logging 136, 152, 184 requests(inconsistent, double)?

In firefox Institution building 134/108/110 requests
chrome 112 requests 9.5mb in 45-57 secs

Growth in chrome 78 requests 11.1 mb in 1.3mins
in firefox 234 requests

[2016-11-11 13:23] salus-sage commented on #60
@Amrapalivishwa i'm waiting for a screenshot

[2016-11-11 13:41] salus-sage commented on #37
tested and confirmed - no issue such as image not displaying properly, other loading issues with firefox will be addressed in issue #36

[2016-11-11 13:41] #37 closed

[2016-11-11 13:42] salus-sage commented on #32
firefox loading issues will be addressed in issue #36

[2016-11-11 13:42] #32 closed

[2016-11-11 13:43] salus-sage commented on #25
Layout issues are fixed - resolved

[2016-11-11 13:43] #25 closed

[2016-11-14 15:05] salus-sage commented on #21
unable to recreate this issue,
 all videos are loading fine, verified network - issue resolved

[2016-11-14 15:05] #21 closed

[2016-11-14 15:08] salus-sage commented on #31
Video sound very low at full volume also - original video might have problem -  unable to find a solution unless the source is replaced.
last six audio are opening in new tab - resolved by creating collapsible  gallery

[2016-11-14 15:11] salus-sage commented on #43
the noise and audio volumes is out of scope of work for us. this issue will be closed as resolved.

[2016-11-14 15:11] #43 closed

[2016-11-14 15:12] salus-sage commented on #31
The video sound with low volume is out of scope for us to work, client needs to replace the source file. closing this issue as resolved.

[2016-11-14 15:12] #31 closed

[2016-11-14 15:13] salus-sage commented on #22
issue resolved after optimizing the video loading. Did not re-occur in all the testing

[2016-11-14 15:13] #22 closed

[2016-11-14 15:24] salus-sage commented on #36
There seems to be a open Bug issue since 2013 regarding firefox performance low compared to chrome with Underscore and Loadash libraries, need to verify if these are related.

https://bugzilla.mozilla.org/show_bug.cgi?id=903970

[2016-11-16 08:16] salus-sage opened #67 "Unit testing"

[2016-11-16 09:13] salus-sage commented on #36
Firefox images are not fetching from cache, cache control headers needs to be fixed on varnish to test.

[2016-11-16 10:00] vns2 commented on #60
I found the following nodes as shown in attached image to be dead in Chrome v54 (top row, four nodes). The 'content' hidden changes as you click on different nodes -- the toroid rotates slightly, usually clockwise.

In addition, whatever I do, I am not able to get the content for three people in any config:
Obaid Siddiqi (should be near nodes of Zakir Hussain and Riayat Khan)
Umashashi (should be

[2016-11-16 15:57] salus-sage commented on #64
Also noticed crash in Firefox, multiple times

[2016-11-17 04:06] vns2 opened #68 "Chrome v54: Peopleplex - "dead" nodes on top row + missing names"
I found the following nodes as shown in attached image (top row, four nodes) to be dead in Chrome v54, and possibly any other browser. The 'content' hidden changes as you click on different nodes -- the toroid rotates slightly, usually clockwise.

In addition, whatever I do, I am not able to get the content for three people in any config:
Obaid Siddiqi (should be near nodes of Zakir Hussain and Ri

[2016-11-17 04:28] vns2 commented on #13
@salus-sage Forgot to ask, does this work?

[2016-11-17 07:35] vns2 opened #69 "Access password: Becoming required even while within the NCBS IP system"
The NCBS@25 site is asking for a username and password even while within the NCBS IP system for some logins. Not sure why. This was tested on Chrome v54 and Firefox with two different users inside NCBS.

[2016-11-17 07:54] vns2 opened #70 "Access password dialogue box modification"
Can the dialogue box be modified to include an email address for assistance?

"If you don't have the login username and password, please contact archives@ncbs.res.in"

[2016-11-17 09:25] salus-sage commented on #57
This commithas not fixed the issue - @shalinia  confirmed pulling the latest changes live
https://github.com/janastu/ncbs-ephemera/commit/906917bac50dd80dde5859715cbcec602089f06b

issue still not resolved, attached is the screenshot.
https://www.ncbs.res.in/ncbs25/sandbox/ephemera/

![screenshot 17](https://cloud.githubusercontent.com/assets/6399323/20384292/4998ebb4-acd9-11e6-9fe6-e839eafd01a5.pn

[2016-11-17 11:12] arunk commented on #69
Can you get the IP addresses from which these users are accessing the system?

[2016-11-17 11:30] khushpreet-kaur commented on #57
@shalinia Please verify and close the issue, if resolved.

[2016-11-17 11:47] vns2 commented on #69
@arunk 172.16.110.193 is my private IP (I get asked for authentication as well), and I believe others will have a similar IP address. I spoke to Rajesh -- he said he will said the private IP address range to you guys so you can include it in your authentication clearance.

[2016-11-17 11:55] vns2 commented on #68
@salus-sage I think I can see the source of the problem. It is driven by the top 'ncbs25' bar. In any browser window size, any node above that bar will not be clickable. If I go to a smaller screen, more nodes become dead, but always above a 'horizontal' line. Can you just move the toroid down by an inch or how much ever is possible maximum. That should fix it, I think.

[2016-11-17 12:42] arunk commented on #69
@vns2 can you go here - http://www.whatsmyip.org/ and tell me the IP address that you see?

[2016-11-18 06:09] vns2 opened #71 "Peopleplex: All audio files truncated at 2min 43 sec + unable to click/drag audio pointer"
@salus-sage
There appear to be some significant problems with the audio in Peopleplex:
-- Not able to click and drag the slider bar to a portion in the audio. Have to sit and listen to whole thing.
-- Files that are long all show the full length of the audio on the screen. But they all stop at 2 min 43 seconds.

[2016-11-18 06:20] vns2 opened #72 "Audio/video continues to play and overlap when you switch between chapters of a theme."
If you play a video in a theme. Eg: the video in Growth - Hiring. And then you switch chapters within theme, to eg: Growth - Collaborations. The video from Growth - Hiring continues to play in background. Then, when you play an audio or video file in Growth - Collaborations, they play one on top of each other. Only when you switch out of theme completely does the video stop playing.

This needs to

[2016-11-18 06:23] vns2 commented on #72
This problem is specific to video in a sense. Audio content  also continues playing in the background when you switch between chapters. But it immediately switches to new audio when you click on a new file because they use the same container at the bottom of the screen.

Only in the case of video it is a problem because the video files play in their own 'container'?

[2016-11-18 06:25] vns2 opened #73 "Photo slideshow: Zoom icon?"
Is it possible to have some sort of a magnifying glass icon or some way to illustrate how to zoom into photos in the slideshow, whenever the mouse hovers over the image? Or maybe on the side of the slideshow...

Have now had a few people comment on not being able to see the content in the photos and not many seem to intuitively use the mouse scroll or touchpad squeeze option to zoom and see it.

[2016-11-21 04:46] vns2 commented on #57
Resolved. Thanks!

[2016-11-21 04:46] #57 closed

[2016-11-21 04:47] vns2 commented on #69
Resolved. Thanks!

[2016-11-21 04:47] #69 closed

[2016-11-21 05:43] vns2 opened #74 "Home page text revision"
@salus-sage Having put more thought into this, I think it will be better for the website home page to have tweak of a few words. Can you please use the attached text in the homepage box?
Many thanks!
Venkat

***

**Thirteen ways of looking at NCBS**

On Oct 22, 1991, the Department of Atomic Energy sent a letter to the Tata Institute for Fundamental Research. It conveyed the President's sanction f

[2016-11-21 09:35] salus-sage commented on #60
duplicate of issue #68

[2016-11-21 09:35] #60 closed

[2016-11-21 14:10] vns2 opened #75 "Peopleplex: Remove text in explanation note"
Remove "click on the nodes to explore." from the Peopleplex explanation text.

[2016-11-21 14:14] vns2 opened #76 "Peopleplex: Not working on Internet Explorer"
Peopleplex does not work on Internet Explorer. (Tested on IE version 11). It works on Chrome, Firefox and Edge.

[2016-11-21 14:15] vns2 opened #77 "SpaceTour: Internet Explorer not working"
SpaceTour loads on Internet Explorer (tested on version 11) but it does not work -- no rotation, clicking capability. It works fine on Chrome, Firefox, Edge.

[2016-11-21 14:19] vns2 commented on #71
Just to keep this updated. The truncation is not there on Edge. It is there on both Chrome and Firefox (latest versions).

[2016-11-22 08:34] pradyumnat commented on #71
Good day @salus-sage
regarding: unable to click/drag audio pointer
I think the issue is the div. i'm able to click and drag in firefox upto where the d3 div container overlaps id="chart":
![screenshot from 2016-11-22 13 58 37](https://cloud.githubusercontent.com/assets/7973443/20516316/010a642c-b0bc-11e6-8f63-3b83cd352958.png)

This link you shared : https://www.ncbs.res.in/ncbs25dev/ncbs_files/th

[2016-11-22 10:22] salus-sage commented on #27
Solution - Go to top of the page to switch between chapters and Go to bottomm of the page to switch between themes
Issue resolved - icons is bottom right hand corner of all pages. screen shot attached
![screenshot 18](https://cloud.githubusercontent.com/assets/6399323/20520135/a204f108-b0cb-11e6-87fd-8a3d8dd0477c.png)

[2016-11-22 10:22] #27 closed

[2016-11-22 10:25] salus-sage commented on #13
fixing the width of containers to make it a fixed width website.
issue only repeats at min zoom 25%(considering as an exception) tested upto 300% zoom(no mis-behaviour)
closing as Issue resolved

[2016-11-22 10:25] #13 closed

[2016-11-22 10:26] salus-sage commented on #73
Issue resolved - fix committed and live

[2016-11-22 10:26] #73 closed

[2016-11-22 10:40] vns2 opened #78 "Gallery photos: caption + single click zoom missing"
Clicking upon gallery items should display their caption as well (Description. Rights (in italics)). Don't see it right now.

Would be nice to have gallery items also zoom on single click like items in main page. Right now, it is double click.

[2016-11-22 11:16] salus-sage commented on #75
solution: content revision
issue resolved in code - awaiting to go live on server

[2016-11-22 11:32] salus-sage commented on #68
Issue resolved and changes are live.

[2016-11-22 11:32] #68 closed

[2016-11-22 11:34] salus-sage commented on #76
Solution - code error from console fixed and pushed - awaiting for changes to go live on server
Limitations and requirements:
SVG and D3 transitions are not supported in IE 8 and below.
Hence the animation is slow and different compared to other browsers
See below links for more info:
http://caniuse.com/#feat=svg
http://stackoverflow.com/questions/15159002/d3-js-browser-support
However IE9 and abo

[2016-11-22 11:34] #76 closed

[2016-11-22 11:34] salus-sage commented on #75
Issue resolved and changes live

[2016-11-22 11:34] #75 closed

[2016-11-22 11:36] salus-sage commented on #71
I have pushed a fix to peopleplex and tested with obaid's node and audio, worked all fine for me.
@vns2 can you test and confirm too, i will have this issue open till you confirm all audios playing fine.

[2016-11-22 11:42] salus-sage commented on #74
Text updated, however need more clarification.
@vns2 do you need this heading "Thirteen ways of looking at NCBS"

[2016-11-22 12:04] salus-sage commented on #74
Issue resolved, pushed text with the heading as-is

[2016-11-22 12:04] #74 closed

[2016-11-22 12:05] vns2 commented on #74
@salus-sage Yes, would like the heading in this rev. I reduced the text accordingly. Does it work?

[2016-11-22 12:12] salus-sage commented on #77
only latest and modern browsers support the webGL and 3d features like firefox and chrome V49 onwards,
IE11 onwards. for more info. visit http://caniuse.com/#feat=webgl
The actual error from console is
Object doesn't support property or method 'sign'
no alternative from msdn docs
https://msdn.microsoft.com/en-us/library/mt146833(v=vs.94).aspx
Supported only in Edge browser
This issue will be close

[2016-11-22 12:58] salus-sage commented on #74
Sure, it works. i have the heading also, changes are live, you can have a
look and confirm.

On Tue, Nov 22, 2016 at 5:35 PM, vns2 <notifications@github.com> wrote:

[2016-11-22 13:09] salus-sage commented on #77
@pradyumna suggested a fallback message if an user opens space tour in IE, a message will appear saying this is best experience in chrome and firefox V49 and upwards

[2016-11-22 13:10] salus-sage commented on #72
This issue will be added to next pipeline without a due date.

[2016-11-22 13:29] #59 closed

[2016-11-22 14:52] salus-sage commented on #78
This will be addressed in the next pipeline, we need to monitor performance before more enhancements.

[2016-11-22 15:21] pradyumnat commented on #77
https://github.com/janastu/ncbs-space-tour/commit/9887e7cd7ae4384e0c68b1c73b0c6ff9ca28b794

[2016-11-22 15:45] pradyumnat commented on #70
changed authname in htaccess

[2016-11-22 17:17] vns2 opened #79 "Authorization access to be re-installed"
Need username/password box to appear when logging in from outside NCBS/TIFR. Not so right now (Nov 22, 10.30pm).
Thanks!

[2016-11-22 17:25] vns2 commented on #71
Yep, checked various audio files and they work. Thanks! Resolved. I'll close this.

[2016-11-22 17:25] #71 closed

[2016-11-22 17:26] vns2 commented on #55
Update: This cannot be tested yet after all the updates since it depends on password mode being activated.

[2016-11-23 10:21] vns2 opened #80 "404 page"
Feedback from beta tester at NCBS:
Have a 404 error page for bad links, mistyped URLs, etc.

[2016-11-23 10:22] vns2 opened #81 "NCBS@25 Favicon"
Feedback from NCBS beta tester:

The NCBS@25 favicon is not visible when on the page. It only becomes visible when you are on a different tab. And its scaling is off.

One solution could be to colour it black, and resize/crop for favicon to make it a square?

[2016-11-23 10:30] vns2 opened #82 "Identity theme - Space for Biology chapter - move Audio icon"
Move the audio file to the stated location. This was supposed to be an audio slideshow. But if this is not happening in this version, then we need to move the audio file soon after the sentence. Else, it looks out of place.

![identity-space-swami-play](https://cloud.githubusercontent.com/assets/4581081/20558415/e19a0d24-b195-11e6-9168-03ac50e89aed.png)

[2016-11-23 10:34] vns2 opened #83 "Growth theme - Student Selection chapter - Remove last line"
Remove last line: "More stuff in the Gallery."
There is no Gallery in this chapter.

[2016-11-23 10:37] vns2 opened #84 "Research theme - Queries and tools chapter - Very low res photo"
The first featured photo of glass blowing is of very low res and very pixelated in the compressed form. Unable to see. Can this be re-uploaded with a decent resolution?
Thanks!

[2016-11-23 10:38] vns2 opened #85 "Research theme - Queries and tools chapter - Slideshow - Very low res photos"
Photos 1,12,13 in the picture slideshow of this chapter are very low res and pixelated. Can they be re-uploaded with better quality?
Thanks!

[2016-11-23 10:41] vns2 opened #86 "Research theme - Processes chapter - Slideshow image #9 rotate"
Make Image 9 in processes chapter of research theme in portrait mode (instead of current setup in landscape)

[2016-11-23 10:49] vns2 opened #87 "Identity theme - Science in india chapter - Photo slideshow (last) - low res photo"
Image 1 in the last photo slideshow of Science in India chapter (identity theme) is very low res and pixelated. Can't read. Can this be re-uploaded in higher res?
Thanks!

[2016-11-23 10:54] salus-sage commented on #82
Hi @vns2  for this you have to update the content in omekat. the tag A1 should come before the tag PS1. I assume you can do these changes in content.
Hence marking this as "wontfix" and will close the issue after you fix the content on omeka. Let me know if you need the login credentials.

[2016-11-23 10:57] salus-sage commented on #83
solution similare to issue #82 changes to be made in Omeka - @vns2 is assigned hence marking this also "wontfix" and leaving the issue open.

[2016-11-23 10:59] salus-sage commented on #84
@vns2 the solution for this issue is similar to issue #82 you can replace the photograph in omeka with the picture of your choice.
p.s. find the item in question - > delete the existing picture and upload a new picture

[2016-11-23 11:00] salus-sage commented on #85
@vns2 solution similar to issue #84 please replace the pictures. marking this as "wontfix" too

[2016-11-23 11:03] salus-sage commented on #86
This seems to be a bug - the original image at https://www.ncbs.res.in/ncbs25/omeka/files/original/147cc0f51d9aa4a1b749b61bc521280c.jpg
https://www.ncbs.res.in/ncbs25/omeka/admin/files/show/781 but here in thumbnail mode the photo is rotated
 is in landscape mode, however the one rendered in slide show is rotated. should look into this

Solution: to re-upload the image after rotating in photoshop.

[2016-11-23 11:04] salus-sage commented on #87
@vns2 solution similar to issue #84  marking this as "wontfix"

[2016-11-23 11:10] vns2 commented on #82
Yes, I could. But I forgot the login credentials :( what is it?

[2016-11-23 11:32] salus-sage commented on #80
Solution: backbone router should handle 404 page not found
marked for milestone 1.0.1

[2016-11-23 11:33] salus-sage commented on #81
replace favicon to a square 10x10 image with a contrasting color. will assign to nikitha to modify the logo image and mark milestone 1.0.1

[2016-11-23 11:36] salus-sage commented on #70
issue still not resolved

[2016-11-23 11:37] salus-sage commented on #79
As of today(23-11) the password authorization is enabled back again.  However issue #55   pwd is not working in IE,  #70 modification of content will still be open.

[2016-11-23 11:39] #79 closed

[2016-11-24 07:02] vns2 commented on #87
Resolved.

[2016-11-24 07:02] #87 closed

[2016-11-24 07:07] vns2 commented on #86
Fixed with re-uploaded image.

[2016-11-24 07:07] #86 closed

[2016-11-24 07:16] vns2 commented on #84
Fixed.

[2016-11-24 07:16] #84 closed

[2016-11-24 07:20] vns2 commented on #85
Fixed.

[2016-11-24 07:20] #85 closed

[2016-11-24 07:23] vns2 commented on #83
Fixed.

[2016-11-24 07:23] #83 closed

[2016-11-24 07:26] vns2 commented on #82
Fixed.

[2016-11-24 07:26] #82 closed

[2016-11-24 07:30] vns2 opened #88 "About Page - Video"
Include that 1-minute video as a header on the About page. Or is that still a problem?

[2016-11-24 08:42] vns2 opened #89 "SpaceTour - Firefox - Player Bar - width to be increased"
Firefox: Player bar needs to be wider - cropping at top, see image below.

![spacetour-playerbar-width](https://cloud.githubusercontent.com/assets/4581081/20591680/ebee08d8-b24f-11e6-8322-75829af4a217.png)

[2016-11-24 08:44] vns2 opened #90 "SpaceTour - Firefox - Hover icon on play needs to change"
Firefox: When mouse hover over player bar 'play' button, ideal if the icon can switch to a finger-pointing hand. Instead of the 'pan' hand.

![spacetour-player-bar-hand](https://cloud.githubusercontent.com/assets/4581081/20591743/3a60c938-b250-11e6-8800-906b3c10d731.png)

[2016-11-24 08:52] vns2 opened #91 "Ephemera - Intro line spacing"
Based on some beta testing feedback.
-- The line spacing between ephemera intro line and image to be increased.
-- Make intro line font to be bold + increase in font size to be made more like a heading?
-- Please change intro line to this: "Ephemera focuses on a single image of curiosity from across the history of NCBS, TIFR and their communities. See the caption below for more details. Each refre

[2016-11-24 08:56] vns2 opened #92 "SpaceTour - requires two clicks for play"
See info from beta tester below. Self explanatory.
Thanks!

![spacetour-autoplay](https://cloud.githubusercontent.com/assets/4581081/20592098/db9851d0-b251-11e6-8eef-55cc139fbce8.png)

[2016-11-24 08:56] vns2 opened #93 "SpaceTour - info icon size"
See info from beta tester below.
Thanks!

![spacetour-info-tag](https://cloud.githubusercontent.com/assets/4581081/20592129/0ac8c34a-b252-11e6-91ee-1496aff690b3.png)

[2016-11-24 10:24] pradyumnat commented on #70
Modify the default apache  htaccess dialogue box has unexpected results in different browser. Suggest that the required text be placed in the disclaimer or the about page.

[2016-11-24 11:27] salus-sage commented on #88
https://www.ncbs.res.in/ncbs25dev/ncbs_files/videos/2016_acknowledgments-audio-photo_ABOUT-PAGE.mp4
it's a 22sec video/mp4 type file with size 66MB which is too heavy, hence plays choppy or can create problems for other loading on the page.
can you compress the video and upload it here, and then we can try again.

[2016-11-24 12:07] vns2 commented on #88
I have sent you the compressed and cropped file by email. Also, when you put it up, can you put a play button on the centre of the video or something so it doesn't automatically start playing?

[2016-11-25 16:07] salus-sage commented on #88
I was thinking up uploading it to youtube and then embed the video. What do you say?

[2016-11-25 16:28] vns2 commented on #88
Sure, that's fine.

[2016-11-26 13:44] salus-sage commented on #80
Client side routes fixed for mistyped links, at root url the ncbs.res.in handles the error catching. Changes not live yet

[2016-11-26 13:59] salus-sage commented on #88
Labelling "resolved" and wait for changes to be live

[2016-11-26 14:00] salus-sage commented on #77
Changes are live - Added an alert box if user access space tour in Internet explorer to reroute to chorme or firefox.

[2016-11-26 14:00] #77 closed

[2016-11-26 14:10] salus-sage commented on #55
This issue cannot be resolved. At this time only support for chrome and firefox is possible. If any fallback, can be discussed. hence marking "wont fix"

[2016-11-26 14:14] vns2 commented on #88
Cool, great, thanks! That means this can be seen now?

[2016-11-26 14:16] vns2 commented on #55
One thought: Maybe this can be marked as a next version requirement? By the next version, I think we could look into having it accessible on all browsers and all devices. Maybe by then, it will all be public, but we should anticipate future scenario where specific records may still have password layers....what do you think?

[2016-11-29 12:59] salus-sage commented on #81
nikitha has sent this favicon, will be pushed to server shortly.
![ncbs_favicon](https://cloud.githubusercontent.com/assets/6399323/20710724/bb8099de-b661-11e6-9f93-a0ce2051bb09.png)

[2016-11-29 13:36] salus-sage commented on #55
I/we conceived this as a "temporary situation", meaning any disputable content should be marked private in omeka and featured tag removed from story to make this version a public accessible version as soon as possible.
With regret, i confirm that i cannot keep the password security feature for multiple browsers in the pipeline, as it needs more work than was originally assumed.

[2016-11-29 13:40] salus-sage commented on #88
all the changes marked with label "resolved" will go live tomorrow. i will confirm to you after posting on server.

[2016-11-29 14:12] salus-sage commented on #90
The default audio player as just mouse arrow without any state change. The pan hand change is probably due to hovering on the image in the background.
All Sandbox features were agreed upon to keep As-is, hence marking this with label "Enhancement"

[2016-11-29 14:15] salus-sage commented on #89
i could not understand what is cropping? Can you please mark the issue in the image.

[2016-11-29 16:53] vns2 commented on #55
Ah, okay. Thanks for explaining! Unfortunately, it seems like we have no choice but to have a password protection (or some form of blanket filtering) -- getting clearance will not all be done soon -- and a need to be compatible on multiple browsers [Chrome, Firefox, IE, Edge, Safari]. I understand this looks like it is going to take a lot more time, which is okay and can be funded if there is inte

[2016-11-29 16:55] vns2 commented on #81
Great!

[2016-11-29 16:55] vns2 commented on #88
Great, thanks!

[2016-11-29 16:56] vns2 commented on #89
Sure. Attached image again -- look at bottom of image. The time tag that is running on the bar is clipped on the top.

![spacetour-playerbar-width](https://cloud.githubusercontent.com/assets/4581081/20719752/e1739594-b682-11e6-99bd-5c392f590e76.png)

[2016-11-29 17:01] vns2 opened #94 "Enhancement: Website to be responsive"
Enhancement step:

Need to make the site responsive instead of fixed width. We need to access it cleanly on browsers on the phone (Safari, Chrome, Firefox?). And similarly, it needs to be responsive to screens larger than 20", which it isn't quite so right now.
It can be stripped down in design if needed, but it needs to just work on the phone. At least the themes. Maybe the Sandbox features can p

[2016-11-29 17:07] vns2 opened #95 "Enhancement: Searching through records - file structure visibility?"
Based on user feedback.

Need to find a way to search through data. Say, finding all audio files by Person X. This could be a simple display of the Omeka database. But need to discuss how and where to display such info.

[2016-11-29 17:09] vns2 opened #96 "Enhancement: Theme photo/video containers - make same size"
Based on user feedback

Make all image/video containers same thumbnail size. That way, one doesn't have a lot of dead space, and the content layout is uniform. This would mean that the thumbnail view will be a cropped view for portrait images. And clicking it opens up a lightbox for that image with full details. Or some other way to solve this...

[2016-11-29 17:11] vns2 opened #97 "Enhancement: Ephemera caption"
Based on user feedback.
Ephemera: Increase font size of caption (at least 2x what it is now). Change color to black or something darker; font type to bold.

[2016-11-29 17:16] vns2 opened #98 "Enhancement: Header bar color and hover status"
Based on user feedback.

Header bar is too loo light coloured and the text is not visible. Only upon clicking the down is it visible in the Theme pages. One easy and quick way to fix this is to make the header bar opaque. In any case, there is never any information behind it in any screen, and so nothing is going to get hidden.

Similarly, the drop down for the Sandbox -- the text is not very read

[2016-11-29 17:22] vns2 opened #99 "Enhancement: User Aid at website start"
Based on user feedback.

Few users have said they didn't know how much content there was or how to navigate and look at stuff like Peopleplex, Space Tour etc. I suppose that is our failing in the user interface. And I think we can go with a new revision. But for now, I am wondering if one can have two "hand-drawn" arrows popping out from the curatorial main page text to the location of the content

[2016-11-29 17:25] vns2 opened #100 "Enhancement: Peopleplex - Node names/drop down menu"
Based on user feedback.

People want to know who the nodes are before clicking or be able to reach a particular node directly instead of searching and looking for a person in the 150 nodes. Makes sense.

So, we are looking for a two way functionality. Clicking node tells you about a random person, with all details. And maybe have a drop down list of nodes to choose from. That way, clicking a name

[2016-11-30 10:00] vns2 opened #101 "Compatibility issue: Firefox in Ubuntu: Peopleplex audio"
Based on testing at a new user site.

Peopleplex audio does not load when using Firefox latest version in Ubuntu. Not sure of the source of the problem. When you click on a node, it opens up all the details and for a split second, it shows the audio clip as well. But the audio bar disappears immediately, leaving empty space.

It works fine on Chrome latest version on same Ubuntu system.

[2016-12-01 07:41] vns2 commented on #81
Seen, looks nice! Resolved.

[2016-12-01 07:41] #81 closed

[2016-12-01 07:47] vns2 commented on #80
Works for now. I suggest we keep this git issue here for future versions. What I meant was that eventually, it will be good to get a fancy-pants 404 style page to show up for URL errors within the NCBS25, maybe even something same as the existing NCBS 404 page. See the two attached images.

![404](https://cloud.githubusercontent.com/assets/4581081/20785866/8708f1e8-b7c8-11e6-8637-6fe4566206e1.png)

[2016-12-01 07:55] vns2 commented on #88
Looks good and works for now. Thanks! However, I had cropped the original video's aspect ratio such that it would fit the width of the screen and still be narrow in height. But it looks like the YouTube video container has a fixed aspect ratio, and so there is a lot of padding. This is also perhaps why the video is blocked in the header bar. Any way in which video can be wide and narrow?

![about-

[2016-12-01 07:59] vns2 commented on #91
Thanks. Almost there. But the current live version has mixed up font size in the title. Following edits required:

1) Remove quotation marks in title.
2) Put two sentences into single line so that it all has the same font size, boldness: Ephemera focuses on a single image of curiosity from across the history of NCBS, TIFR and their communities. See the caption below for more details. Each refresh

[2016-12-01 08:02] vns2 commented on #91
I meant to attach the image. Here it is.

![ephemera_size2](https://cloud.githubusercontent.com/assets/4581081/20786214/a4171fa6-b7ca-11e6-83c4-be25fc5e920c.png)

[2016-12-08 16:34] salus-sage commented on #95
@vns2  what is file structure visibility?

[2016-12-08 16:39] salus-sage commented on #91
@vns2  i took that call because "see the caption below......" seems more like an **instruction** than a title, it seems like an obstruction to include it in the title. what do you think?

[2016-12-08 16:47] vns2 commented on #95
@salus-sage This issue is basically about having search functionality all across the site. One needs to search through the file names and annotations in the first version of 'search'. By file structure visibility, I meant: one way would be to show up the file detail from Omeka database onto the exhibit. Almost like an index page of all files. And then, when you click on one of the audio or video o

[2016-12-08 16:52] vns2 commented on #91
Ah, okay. I think they should be in same font etc, so maybe we can just the wording to make it less of an instruction. How does this look?
**
Ephemera focuses on a single object of curiosity from across the history of NCBS, TIFR and their communities. The object changes with each page refresh. The caption below has more details about what you are seeing.
**
Eventually, I think we should move Ephem

[2016-12-09 10:05] salus-sage commented on #95
i think that is to complicate the search feature.

- the search feature may be to search the "Archive" for items and view it's details individually in "search results", while showing which collection it belongs to and/or search for the exhibits itself.

- Going back to the exhibit at the exact resource -> doesn't sound like a search feature to me, it will be great if you can point me to any exampl

[2016-12-09 10:06] salus-sage commented on #91
i will update the below text in heading, and confirm when done.
**
Ephemera focuses on a single object of curiosity from across the history of NCBS, TIFR and their communities. The object changes with each page refresh. The caption below has more details about what you are seeing.
**

[2016-12-09 10:10] salus-sage commented on #88
i'm not sure about why youtube video is different than your original, i guess it could be because of the edit. i would appreciate if you can upload the video to youtube and share the link with me.
Hence, am assigning this issue to you, after you are done you can re-assign this back to me.

[2016-12-09 10:13] salus-sage commented on #55
Marked as enhancement and added to pipeline.

[2016-12-09 12:56] salus-sage commented on #101
i tested on firefox on Ubuntu, and it worked fine for me. unable to re-create this problem. need more details, screenshots will help.

[2016-12-09 13:22] vns2 commented on #95
First, one thing to just keep in mind since this will be critical in the future. All the content we have on the site right now is for an 'exhibit', not an 'archive'. There is no archive yet. The 'archive' content will be much larger and it will be like going into the catalog of a library. The exhibit right now is a curation of material from this original set of material (you have not seen that; it

[2016-12-09 13:24] vns2 commented on #101
Hmm? Odd. Maybe there was some cache issue at his end. I'll ask. Let's keep this open but leave it to me for further input.

[2016-12-09 14:02] salus-sage commented on #95
So, this implies that a pre-condition for the search feature is to re-visit
Sandbox
and it's contents be updated with taxonomy/tags and archived in omeka too!

On Fri, Dec 9, 2016 at 6:52 PM, vns2 <notifications@github.com> wrote:

[2016-12-09 14:03] vns2 commented on #88
@salus-sage
The original is in ~4:1 aspect ratio. YouTube only allows 16:9.
https://support.google.com/youtube/answer/6375112?hl=en
I cannot do anything at my end. I can only make it fill the YouTube window size again, but there's no point in that really.
The only way to fix it will be to maximize the width of the YouTube video to stretch to the width of the screen, and then to perhaps crop in the

[2016-12-09 14:05] vns2 commented on #95
Yes. In the long term, we should always think of the 'archive' as being all content, all stored in one accessible location. From there, one uses the taxonomy/tags to help build an exhibit. This would be the clean, scaleable approach, I think?

[2016-12-09 14:13] salus-sage commented on #88
Theres different things here:

- Moving the video below the header bar: can be done

- Increase the width of the video player: can be done

- Aspect ratio issue of the video: cannot be fixed with code as in cropping in code is not a choice.

The solution i see is to re-edit the video according to youtube recommendations.

[2016-12-09 14:14] salus-sage commented on #95
Now, that makes sense.
i'll plan milestones accordingly and share with you when ready.

On Fri, Dec 9, 2016 at 7:35 PM, vns2 <notifications@github.com> wrote:

[2016-12-09 14:18] vns2 commented on #88
That is not a workable solution. See attached skecth for the aspect ratio I am looking for. Not possible with YouTube. Hence, only possible compromise with a YouTube setup: Move video below header bar.

![379f7324-b7c9-11e6-970f-ef853cd17848](https://cloud.githubusercontent.com/assets/4581081/21051905/560b317e-be48-11e6-8214-2e4be4e257e1.png)

[2016-12-09 14:31] salus-sage commented on #88
attaching screenshot, does this work for you?

![screenshot 19](https://cloud.githubusercontent.com/assets/6399323/21052285/356f0e20-be4a-11e6-90c2-143694cde3e4.png)

[2016-12-09 14:33] salus-sage commented on #88
second choice:
![screenshot 20](https://cloud.githubusercontent.com/assets/6399323/21052340/830bacf6-be4a-11e6-9cf6-5b0d8b844a56.png)

[2016-12-09 14:44] vns2 commented on #88
Yes! Second choice works. How did you do it? :)

[2016-12-09 14:44] vns2 commented on #88
Maybe lower it more? So that when you click down arrow, the whole video is still below the header bar.

[2016-12-09 14:46] salus-sage commented on #88
sure, reduced the height of the player.

On Fri, Dec 9, 2016 at 8:14 PM, vns2 <notifications@github.com> wrote:

[2016-12-09 14:47] vns2 commented on #88
Perfect. Thanks.

[2016-12-09 14:49] salus-sage commented on #88
Final screenshot. Changes are still not live.
![screenshot 21](https://cloud.githubusercontent.com/assets/6399323/21052789/addd45e6-be4c-11e6-8f9d-0a1ee7d81fcc.png)

[2016-12-09 14:49] vns2 commented on #88
Works.

[2016-12-10 04:12] vns2 opened #102 "Easier access to photo/AV content"
For March 2017:

User feedback:
"I had just one suggestion. Can we have Two more galleries added. One for the Pictures & Photos and other exclusively for Audio clips. This will be more attractive and one can see and listen to them exclusively without going through the text. This can be again categorized Theme wise as you have done in the main content."

Venkat note:
It will be good to see what oth

[2016-12-10 04:15] vns2 opened #103 "Peopleplex: Content edit"
User feedback:

P Balaram details in Peopleplex: Include R Sowadhamini in names of his students mentioned, along with Mathew, Krishnan.

[2016-12-10 04:15] vns2 opened #104 "NCBS25 all content edit: Include more hyperlinks"
For Jan 10 2017:
Task for Venkat. Can do by Jan 10 2017.

User feedback:
Have hyperlinks to content and the science done. Connect scientific paper to a piece of history.

[2016-12-10 04:18] vns2 opened #105 "June 2017 enhancement: Way of looking: Biographies of objects"
For June 2017

User feedback.
Do comparison of biographies. A way to show : how does my (student) life compare with that of another older PI or post doc?

This is a good standardizing feature. One can make biographies of objects/people/events, based on material curated from the archive. For instance, a biography of the electrode puller. This can be layered with audio files, other images pointing a

[2016-12-10 10:12] vns2 opened #106 "Permanent URL for all content"
March 2017 (unless it's possible by Jan 2017):

-- Move all content to Omeka (or one common location where one can annotate with metadata).
-- Have permanent URL for all content: each record.

[2016-12-10 10:18] vns2 opened #107 "Home Page rebuild"
June 2017

This is a placeholder git issue for a long task, the rebuild of the site to become a standardized archive+exhibit+search arena.
The home page for the NCBS Archives will have three tabs and a background that is 'Ephemera' - image changes upon refresh.
-- The home page has three tabs: Enter archive, enter exhibit, and search.
-- Clicking the 'exhibit' takes you to current NCBS25 page.
--

[2016-12-10 10:20] vns2 opened #108 "Social Media add-on"
March 2017

Placeholder issue for social media readying.

-- Pending having permanent URL for all content, see issue #106
-- About page will have social media icons for Facebook, Twitter, Instagram page for NCBS archive exhibit.

[2016-12-10 10:23] vns2 opened #109 "New NCBS Archives logo"
March 2017

Placeholder issue

-- Need to remove NCBS@25 logo and install a new NCBS Archives logo. This will need to be there by March 2017, as the first indication of NCBS archival material going public in an exhibit.

[2016-12-10 10:31] vns2 opened #110 "ncbs exhibit homepage rebuild"
March 2017

Rebuild NCBS@25 homepage to be closer to original concept idea as sketched by Venkat.
By March 2017, this no longer needs to be called NCBS@25. This will just be an exhibit from the NCBS Archives, as we think of a future when the exhibit constantly changes.
-- Ephemera is the landing page for the exhibit. (By June 2017, Ephemera will be the landing idea for the whole NCBS Archives).
--

[2016-12-14 14:14] salus-sage opened #111 "code re-factor for js performance optimization:"
- views to fetch context specific data from the api server

- browser cache enabling cache enabling

[2016-12-16 09:33] salus-sage commented on #94
- [x] Make header a classic static bootstrap header with collapsed view for small screen, and menu items to be in order About, Themes, Sandbox, NCBS

- [x]  The Home page image needs to be layered to handle responsiveness

- [x]  Since theme icons at the bottom is a hindrance to responsive layout, moving it to a drop down in header might be a cleaner solution. Changed the bottom layout to Sitemap

[2016-12-22 11:30] salus-sage commented on #110
is this a duplicate of issue #107

[2016-12-23 15:19] vns2 commented on #94
Not sure if this is relevant, but have a look at this site. I like how they structure things, and across devices.
http://undark.org/

Theme buttons as drop down in header is clean and perfect for mobile. For desktop, it can be a header bar, as shown in the original design layout (the sketch I drew in September) and in the Undark site, for instance.

[2016-12-23 15:26] vns2 commented on #110
Not fully a duplicate. It is the first milestone on the way to issue #107 which is for ~ June 2017.
This issue is for March 2017, when the digital archive can go public.

[2017-01-10 06:31] pradyumnat commented on #93
Pannellum uses a sprite sheet for its icons.
We need to find a way to scale up the icon logo pnlm-hotspot.pnlm-info

[2017-01-11 07:15] vns2 opened #112 "Peopleplex and Timeline: Images not loading"
The images do not load in Peopleplex and Timeline. Using Chrome. Same issue noticed in Firefox.
Using latest versions for both.

[2017-01-11 07:55] pradyumnat commented on #112
@vns2  Please check now. Images are loading.

[2017-01-13 07:00] pradyumnat commented on #112
Moved images files of timeline and peopleplex from ncbs25dev to ncbs25live server in their respective folders in sandbox. Updated code to reflect the same.

[2017-01-18 13:16] salus-sage commented on #96
related to issue #94

[2017-01-18 13:22] salus-sage commented on #98
related to issue #94

[2017-01-31 11:53] vns2 opened #113 "Gallery items: Caption not appearing fully."
The items in the gallery have a caption, but the caption doesn't seem to appear fully. See attached image as example from Theme 'Ripple Effects', Chapter 'Isolation'.

![ripple-isolation-gallery-full-name](https://cloud.githubusercontent.com/assets/4581081/22463849/fbc897ae-e7d9-11e6-9b25-35c872787412.png)

[2017-02-21 17:30] vns2 opened #114 "User feedback: Historian of science"
Feedback from a historian of science at Uni of Oklahoma. (who liked it, and said he is going to use it in his class of history students):

-- Fix NCBS on the homepage, too many acronyms. Assume that users can enter any chapter or page directly. Everything should be spelt out on every page.

-- Need a sitemap or pointer on the front screen: Some table of contents or way to know where all the conten

[2017-02-22 16:02] salus-sage commented on #106
Permanent URL for each record is available - From omeka
-- Move all content to Omeka - does this mean peopleplex and space tour??
that might need us to come up with taxonomy to classify peopleplex and space tour records from the rest.

[2017-02-22 16:04] salus-sage commented on #111
during optimization by urls, found problem specifically with two tab menu items
- Research> Basic/Applid Toggle
- Ripple-Effect > Interaction/Isolation
the forward slash "/" is conflicting with the urls and hence replaced it with "and"

[2017-02-22 16:07] salus-sage commented on #107
I guess using the word Rebuild does not fit here. the issues mentioned here are for NCBS Archive
And as for ncbs25 exhibit's home page will be made responsive

[2017-02-23 15:33] salus-sage commented on #111
future optimizations should include context based api query,
for example fetch only items related to certain tag with query parama ?tags=tag
http://omeka.org/forums-legacy/topic/api-urls

[2017-02-23 16:00] salus-sage opened #115 "Version management of concepts, categories and Taxonomy for bangalore team."

[2017-02-23 16:01] salus-sage opened #116 "Version management of concepts, category and taxonomy for chennai team"

[2017-02-23 16:07] salus-sage commented on #115
wrong project. invalid

[2017-02-23 16:07] #115 closed

[2017-02-23 16:08] salus-sage commented on #116
wrong project.

[2017-02-23 16:08] #116 closed

[2017-03-01 16:37] salus-sage opened #117 "client side rest url for the ncbs 25 exhibit"

[2017-04-13 11:33] salus-sage commented on #112
issue resolved

[2017-04-13 11:33] #112 closed

[2017-04-13 11:37] salus-sage commented on #98
background color start with 0.2 opacity, and increase to 0.2

[2017-04-13 11:40] salus-sage commented on #88
make video full-width

[2017-04-13 12:04] salus-sage opened #118 "ncbs space tour, timeline and other sandbox items to have curatorial note with a question mark icon, onclick opens the text box.."

[2017-04-13 12:05] salus-sage opened #119 "ncbs space tour sidebar and popup design according to main site color sceheme"

[2017-04-13 12:08] salus-sage opened #120 "sandbox/oral history color scheme and borders"

[2017-04-13 12:12] salus-sage opened #121 "sandbox/peopleplex - if question icon for curatorial note, then where will the sidebar in a different container and the design to be similar to other sidebar in site"

[2017-04-13 12:15] salus-sage opened #122 "Home and about page content needs to be updated"

[2017-04-13 13:59] salus-sage commented on #70
Recent update from meeting om 13-04-2017, the .htaccess might be removed before 19-04

[2017-04-17 12:19] vns2 opened #123 "Responsive: Move cover image above cover intro text."
On responsive page, first thing user should see is bird image. Scroll down below to see intro text.

[2017-04-17 12:23] vns2 opened #124 "Responsive: Screen width tiny glitch"
When opening https://janastu.github.io/ncbs-omeka-backbone-client/# on my mobile, I am able to squeeze the site to a narrower window, and it stays sticky. Further down, the text over-runs -- see second image of 'acknowledgments'. Only upon double clicking does it resize to mobile phone size. See attached screenshots. Can this be fixed so that it always resizes to mobile phone size? Thanks.

![img_

[2017-04-17 12:25] vns2 opened #125 "Responsive: Reduce content on home page"
For the responsive, I like the drop down bar on the top. That is sufficient. We should not have everything at the bottom as one long scroll. So, cut off after the opening image and intro text. All themes and sandbox elements only accessed through top drop down. About page stuff also only through top drop down.

[2017-04-17 12:31] vns2 opened #126 "Web content loading speed: Firefox and Chrome"
Using Chrome v57 and Firefox v52

On Chrome, it still takes about 4 seconds for content to load when I have not cached history. On Firefox, it takes far longer, and sometimes, the front image doesn't load. See attached image.

![firefox desktop](https://cloud.githubusercontent.com/assets/4581081/25088867/77b3c2be-2397-11e7-88a3-df6662ecddb2.png)
![firefox2](https://cloud.githubusercontent.com/asse

[2017-04-17 12:36] vns2 opened #127 "Make home page text box sticky (should not disappear upon scroll)"
On smaller desktop screens, home page text is not fully visible. And on scrolling down, it disappears. See attached. Decouple it from the top header bar. Make it a sticky permanent box on the home page.

![dropdown-sticky1](https://cloud.githubusercontent.com/assets/4581081/25089025/759a30e8-2398-11e7-99d3-ff995e3213d2.png)
![dropdown-sticky2](https://cloud.githubusercontent.com/assets/4581081/250

[2017-04-17 12:40] vns2 opened #128 "Ephemera: Curatorial note needs to be resized to make it uniform"
Curatorial note in Ephemera all needs to be in one font (same as rest of site), one size, one line. Use following text, without quotes:

"Ephemera focuses on a single intriguing image from across the history of NCBS, TIFR and their communities. See the caption below the image for more details. Each refresh results in a new image."

![ephemera1](https://cloud.githubusercontent.com/assets/4581081/25

[2017-04-17 12:47] vns2 commented on #88
If possible, move About video off YouTube and put it on Omeka. One reason: that way, it doesnt show a random set of videos to see after this one.

[2017-04-17 12:50] vns2 opened #129 "Captions for Omeka image/video: Centre-align?"
Can the caption for Omeka content image/video be centre aligned? Maybe that will solve these design issues -- see attached, where caption and photo look awkward.

![caption-centre-align](https://cloud.githubusercontent.com/assets/4581081/25089341/71688c84-239a-11e7-9f29-236a2598855b.png)

[2017-04-17 12:58] salus-sage commented on #125
Quoting from issue #114 i feel that holding back from explaining different aspects of the site, and waiting for the user to click first to know, is sorta disconnecting.
So, i feel this content is much more guiding through the website.

[2017-04-17 13:05] vns2 commented on #125
Sure, I agree that we need some navigation pointers of some sort. But this current implementation is not a good design approach, I think. So, if we are thinking of opening pwd and letting people browse on their phones soon, then the cleaner solution is to remove this from home page. And we can think of site map, etc for the June release with Thara's input.

[2017-04-17 16:00] vns2 commented on #103
In Peopleplex:
Look for row with Name: "P Balaram".
Use following text in Relevance field for that row: "PhD advisor and collaborator with KS Krishnan, MK Mathew and R Sowdhamini, who were early faculty at TIFR/NCBS. Associated with IISc since the 1970s, and its Director between 2005-2014. Invaluable observor of NCBS and guide over the years. Member of founding NCBS Management Board."

[2017-04-18 11:00] salus-sage commented on #98
internal comment: After changing the shades of the header, we need to also change same color transition for the dropdown which is only Sandbox now.

[2017-04-18 12:42] salus-sage commented on #98
Screenshots of header upgrades, note the scroller positions to understand intial and after scroll effect.

![screenshot 65](https://cloud.githubusercontent.com/assets/6399323/25131158/5e1140d6-2462-11e7-96cd-00ee8c9c0511.png)
![screenshot 64](https://cloud.githubusercontent.com/assets/6399323/25131159/5e14e362-2462-11e7-9a21-07c6967df249.png)

ABout page with header effect
![screenshot 66](https:/

[2017-04-18 13:02] salus-sage commented on #127
is this box without the hide effect ok?
![screenshot 69](https://cloud.githubusercontent.com/assets/6399323/25131945/57bbacc8-2465-11e7-9aa5-680126a75fef.png)

![screenshot 70](https://cloud.githubusercontent.com/assets/6399323/25132032/b365dad0-2465-11e7-8f43-0b8c9827fb24.png)

[2017-04-18 14:46] salus-sage commented on #127
new upgrade
![screenshot 71](https://cloud.githubusercontent.com/assets/6399323/25136894/dc1daf4e-2473-11e7-8911-0400dc00c748.png)

[2017-04-18 15:34] salus-sage commented on #127
probably this is how landing page would look tomorrow, what do you think?
![screenshot 72](https://cloud.githubusercontent.com/assets/6399323/25138406/1448e39e-2478-11e7-801b-f2e991ae19c7.png)

[2017-04-18 16:24] salus-sage commented on #127
after some more tweaking on formatting, hopefully final for tomorrow
![screenshot 73](https://cloud.githubusercontent.com/assets/6399323/25140313/7be70f9e-247d-11e7-9022-883d10d3f814.png)

[2017-04-18 16:38] salus-sage commented on #127
without bg color
![screenshot 74](https://cloud.githubusercontent.com/assets/6399323/25142125/72d81a78-2483-11e7-827a-31ae1ea14135.png)

[2017-04-18 17:30] salus-sage commented on #127
removed left space.
![screenshot 77](https://cloud.githubusercontent.com/assets/6399323/25144153/7d00df92-248a-11e7-8699-7530c30e9b6c.png)
![screenshot 75](https://cloud.githubusercontent.com/assets/6399323/25144154/7d0e30de-248a-11e7-9e93-7d0ebf76776e.png)
![screenshot 76](https://cloud.githubusercontent.com/assets/6399323/25144155/7d0e97ea-248a-11e7-9bb0-4fc5c261af18.png)

[2017-04-19 07:01] salus-sage commented on #127
some more options for home page, with the text box width increased to fitin the box properly, reduced title size to fit in one line.

![screenshot 81](https://cloud.githubusercontent.com/assets/6399323/25167107/c90ce1d0-24fb-11e7-9859-f3269bd4bd11.png)
![screenshot 78](https://cloud.githubusercontent.com/assets/6399323/25167108/c917b40c-24fb-11e7-8564-2f5506d3aeb5.png)
![screenshot 79](https://clo

[2017-04-19 07:25] salus-sage commented on #88
full width video in about page, with removing of youtube video suggestions.

![screenshot 82](https://cloud.githubusercontent.com/assets/6399323/25167963/59aa00ee-24ff-11e7-8bda-82affa8a81fd.png)

[2017-04-19 07:26] salus-sage commented on #88
@vns2 earlier we had this video in omeka and had problems with it playing, and thats the reason moved it to youtube. the reasons we figured at that time was probably the video meta data and format due to edits. So not moving this video to omeka.
 labelling this issue as resolved.

[2018-02-08 04:04] renz0519 opened #130 "How to make this website a resposive website and how to make a navigation bar with dropdown menu"
[Website San Pascual Batangas - Copy.zip](https://github.com/janastu/ncbs-omeka-backbone-client/files/1705682/Website.San.Pascual.Batangas.-.Copy.zip)
I want to make a resposive templates but i cannot see the error in the codes...please help me